<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="POM Framework Learning">
  
   <test name="Login Test">
    <classes>
     
      <class name="com.testcases.LoginTest"/>
      <class name="com.testcases.LandingPageTest"/>
    
    
    </classes>
  </test> <!-- Test -->
  
    
  
  
</suite> <!-- Suite -->
